.chats-body {
  padding: 0; /* body에 class="chats-body"를 추가했고 padding값을 reset시킴. body는 padding default값을 가지고 있음. */
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px; /* 다시 header, status-bar부분에는 padding값을 설정해줌. */
}
.chat-screen {
  background-image: url("../images/chatBg.png");
  min-height: 100vh;
}
.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto; /* position:fixed일 때 완전히 가운데 정렬하는 법 : margin: 0 auto + left:0; right:0; */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%; /* chatting 창을 감싸는 parent box */
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none; /* chatting 창의 border 삭제 */
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase; /*전부 대문자로*/
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}

.sent-message {
  align-self: flex-end;
}

.incoming-message {
  align-self: flex-start;
}

.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
}

.message .message__bubble {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px; /* 텍스트는 span 안에 감싸져 있어야 잘 작동한다. */
  display: block; /* span is an inline element and has no height. so that's why ignore margin. */
  padding: 10px 20px;
  border-radius: 20px;
  color: white; /* message text font-color*/
  font-weight: 600; /* message text font-weight */
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px; /* border의 왼쪽 아래쪽을 vertical line으로 */
  color: white;
  background-image: linear-gradient(
    to right,
    #00c6ff,
    #0072ff
  ); /* from uiGradient */
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px; /* border의 오른쪽 아래쪽을 vertical line으로 */
  background-image: linear-gradient(
    to left,
    #00c6ff,
    #0072ff
  ); /* from uiGradient */
}
