.header {
  display: flex;
  justify-content: space-between; /* Chats와 아이콘을 떨어뜨리기 위함. */
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer; /* 아이콘에 마우스를 갖다 댔을 때 커서가 손가락으로 바뀜. */
}

.header .header__header-column {
  display: flex;
  align-items: center;
}
.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
