.status-bar {
  margin-bottom: 30px;
  opacity: 0.7; /* 색의 80%만 보여준다. */
  width: 92%; /* position: fixed할 때 항상 width를 지정해주어야 한다. */
  display: flex;
  justify-content: space-between;
  position: fixed; /*status-bar 상단에 고정 */
  top: 10px;
}

.status-bar i {
  font-size: 14px;
  display: inline-block;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
